#conteiner {
	width: 100px;
	height: 300px;
	background-color: black
}

#conteiner > div {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: gray;
}

#red.on {background-color: red;}
#yellow.on {background-color: yellow;}
#green.on {background-color: green;}